---
import Input from "../../components/input/Input.astro";
import SigninLayout from "../../layouts/SigninLayout.astro";
export const prerender = true;
---

<SigninLayout title="Είσοδος Διαχειριστή">
	<div class="p-12 h-max place-self-center bg-white grid grid-rows-[100px_min-content_1fr] shadow-lg shadow-gray-700 rounded-md gap-y-12">
		<div class="grid justify-center content-center">
			<a href="/" class="relative">
				<img class="h-[100px] brightness-150" src="/logo.png" alt="Λογότυπο Σχολής" />
				<img
					class="h-[100px] absolute brightness-150 blur-[1px] opacity-40 top-[1px] left-[-2px]"
					src="/logo.png"
					alt="Λογότυπο Σχολής"
				/>
			</a>
		</div>
		<h2 class="text-3xl font-didact text-center">Είσοδος Διαχειρηστή</h2>
		<form id="loginForm" action="" method="post" class="group grid grid-rows-3 gap-y-8">
			<Input type="email" name="email" label="Email" iconClasses="fa-solid fa-envelope" />
			<Input type="password" name="password" label="Κωδικός" iconClasses="fa-solid fa-lock" required />
			<button
				class="text-2xl shadow-lg shadow-gray-400 rounded-lg transition-colors duration-300 bg-green-300 hover:bg-green-400 focus:bg-green-400 group-[:is(.animate-shake)]:bg-red-500"
				type="submit">Είσοδος</button
			>
		</form>
	</div>
	<style is:inline>
		@keyframes ShakeAnimation {
			0% {
				transform: translateX(0);
				filter: blur(0px);
			}
			10%,
			30%,
			70%,
			90% {
				transform: translateX(1px);
			}
			20%,
			40%,
			60%,
			80% {
				transform: translateX(-1px);
			}
			50% {
				transform: translateX(1px);
				filter: blur(1px);
			}
			100% {
				transform: translateX(0px);
				filter: blur(0px);
			}
		}

		.animate-shake button {
			animation: ShakeAnimation 0.6s ease-in-out;
		}
	</style>
</SigninLayout>
<script>
	import { useAPI } from "../../../lib/hooks/useAPI.astro";
	import { setCookie } from "../../../lib/utils.client";

	let tid: number | null = null;
	document.getElementById("loginForm")?.addEventListener("submit", async e => {
		e.preventDefault();
		const form = e.target as HTMLFormElement;
		const inputs = form.elements as any;
		const data = {
			email: inputs.email.value,
			password: inputs.password.value
		};
		const res = await useAPI("Authentication.userLogin", { RequestObject: data });

		if (res.data && res.data.isValid) {
			const { session_id } = res.data;
			setCookie("session_id", session_id || "", 14);
			window.location.href = "/admin";
		} else {
			if (tid) {
				clearTimeout(tid);
				form.classList.remove("animate-shake");
				void form.offsetWidth;
			}
			form.classList.add("animate-shake");
			tid = setTimeout(() => {
				form.classList.remove("animate-shake");
			}, 1000) as unknown as number;
		}
	});
</script>
