<!-- ---
import { useAPI, API } from "../../../lib/hooks/useAPI.astro";
import type { Announcements, AnnouncementImages } from "../../../types/entities";
const announcements_res = useAPI(API.Announcements.getSimple, {});
const announcements = announcements_res.data as Announcements[];
---
<div>

</div> -->
