# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env*

# macOS-specific files
.DS_Store

tsconfig.tsbuildinfo

package-lock.json
.vscode
test.exe
*.txt
.wrangler
.mf



/bucket
/dbSnapshots
/email
/getData
/notAssets
/pdfWorker
/public/images
/public/fek-*.pdf
