# build output
dist/

# generated types
.astro/

# cache
.cache

# dependencies
**/node_modules/

# logs
**/logs
**/*.log

# environment variables
**/.env*
**/.dev.vars*


**/package-lock.json
.vscode
*.txt
.wrangler
.mf
**/bun.lockb

*credentials.*


/bucket
/dbSnapshots
/notAssets
/public/images
/public/fek-*.pdf
/email
/pdfWorker
/imageCompression
/test.ts
/services/vcf
/contacts/*.vcf
