# build output
dist/

# generated types
.astro/

# dependencies
**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
**/.env*


**/package-lock.json
.vscode
*.txt
.wrangler
.mf
**/bun.lockb

*credentials.*


/bucket
/dbSnapshots
/notAssets
/public/images
/public/fek-*.pdf
/email
