---
export interface Props {
	classes?: string;
}

const { classes = "" } = Astro.props;
---

<div class={"w-full grid grid-rows-[1fr] place-items-center" + (" " + classes)}>
	<div class="spinner w-[50px] aspect-square rounded-[50%]"></div>
</div>
