<div id="welcome-page" class="h-screen p-20 content-end grid grid-rows-[1fr_repeat(5,_max-content)] grid-cols-2 grid-flow-col">
	<div></div>
	<p class="w-[20ch] text-7xl font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed">Σχολή Βυζαντινής &</p>
	<p class="w-[20ch] ml-[0.75ch] text-7xl font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed">Παραδοσιακής Μουσικής</p>
	<p class="w-[20ch] ml-[calc(0.75ch_+_0.75_*_4.5rem)] text-4xl font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed">
		Ι.Ν. Μεταμορφώσεως του Σωτήρος
	</p>
	<p class="w-[20ch] ml-[calc(1.5ch_+_0.75_*_4.5rem)] text-3xl font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed">
		Ομωνύμου Δήμου
	</p>
	<div
		id="fek"
		class="mt-[6rem] w-max p-6 py-4 grid auto-cols-max grid-flow-col gap-x-4 glass grid-rows-[max-content_max-content] rounded-lg"
	>
		<p class="text-4xl font-anaktoria font-bold text-red-50 self-center">
			<i class="fa-solid fa-chevron-right pr-4 text-2xl self-center"></i>Ανεγνωρισμένη υπό του Κράτους
		</p>
		<div class="mt-4 grid grid-cols-[max-content_max-content] gap-x-8 place-content-center">
			<a
				target="_blank"
				href="/fek-byzantini.pdf"
				class="px-3 h-max self-end text-lg font-didact font-bold text-red-50 outline-none outline-red-50 rounded-md hover:bg-red-50 hover:text-red-900"
				style="grid-row: 2 / 3;">ΦΕΚ 1</a
			>
			<a
				target="_blank"
				href="/fek-paradosiaki.pdf"
				class="px-3 self-start h-max text-lg font-didact font-bold text-red-50 outline-none outline-red-50 rounded-md hover:bg-red-50 hover:text-red-900"
				style="grid-row: 2 / 3;">ΦΕΚ 2</a
			>
		</div>
	</div>
	<div
		id="eggrafesLink"
		class={"glass place-self-center w-max h-max rounded-lg " +
			"shadow-lg shadow-stone-800 px-12 py-8 grid auto-cols-max place-items-center gap-y-4 row-span-full"}
	>
		<p class="text-5xl font-anaktoria font-bold text-red-50 self-center">Οι Εγγραφές ξεκίνησαν!</p>
		<p class="text-5xl font-anaktoria font-bold text-red-50 self-center">από 1/9 έως 30/10</p>
		<a
			class="group/regbtn px-8 py-4 mt-8 text-5xl font-anaktoria font-bold text-red-50 self-center shadow-md rounded-xl outline-none outline-red-50 transition-colors hover:bg-red-50 hover:text-red-900"
			href="/eggrafes"
		>
			Εγγραφές <i class="w-0 fa-solid fa-chevron-right font-bold text-2xl self-center opacity-0"></i>
		</a>
	</div>
	<style is:inline>
		#welcome-page {
			background: linear-gradient(to bottom left, rgba(12 10 9 / 0.5), rgba(12 10 9 / 0.9)), url("/church.jpg");
			background-size: cover;
		}
		#welcome-page > p {
			transform: translateY(25px);
			opacity: 0.0001;
		}
		#welcome-page p span {
			text-shadow: -1px 6px 6px rgba(12 10 9 / 0.6);
		}
		#welcome-page > p > span:hover + span {
			text-shadow: none;
			background: linear-gradient(to right, rgb(127 29 29 / 1) 10%, rgb(254, 202, 202));
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		#welcome-page > p > span:has(+ span:hover) {
			text-shadow: none;
			background: linear-gradient(to right, rgb(254, 202, 202), rgb(127 29 29 / 1) 90%);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		#fek:is(.glass) {
			opacity: 0.0001;
			animation: fadeIn 0.5s ease-in-out forwards 1s;
			text-shadow: -1px 3px 3px rgba(12 10 9 / 0.4);
		}

		#eggrafesLink:is(.glass) {
			opacity: 0.0001;
			animation: fadeIn 0.5s ease-in-out forwards 1.25s;
			text-shadow: -1px 3px 3px rgba(12 10 9 / 0.4);
		}
		#fek:hover i {
			animation: fadeInLeft 0.3s ease-in forwards;
		}
		#eggrafesLink > a:hover > i {
			animation: fadeInLeft 0.3s ease-in-out forwards;
		}
	</style>
</div>
<script>
	const onElementMount = async (target: string, callback: () => any) => {
		while (!document.querySelector(target)) {
			console.log("waiting for element to mount: " + target);
			await new Promise(resolve => setTimeout(resolve, 100));
		}
		callback();
	};
	onElementMount("#welcome-page > p", () => {
		const heads = [...document.querySelectorAll("#welcome-page > p")] as HTMLElement[];
		heads.forEach((head, i) => {
			let txt = head.innerText;
			const txtArr = txt.split("");
			txtArr.forEach((char, j) => {
				if (char === " ") {
					txtArr[j] = "&nbsp;";
				}
				txtArr[j] = `<span class="hover:text-red-900" style="opacity:0.0001; animation: fadeIn 0.5s ease-in-out forwards ${
					(j + i * 10) * 12
				}ms">${txtArr[j]}</span>`;
			});
			txt = txtArr.join("");
			head.innerHTML = txt;
			head.style.opacity = "1";
			head.style.setProperty("animation", `fadeInParent 0.5s ease-in forwards ${i * 50}ms`);
		});
	});
</script>
