<div
	id="welcome-page"
	class={"relative h-[100dvh] p-[5vw] pb-[6vw] max-xl:p-[2.5vw] sm:content-end grid grid-rows-[1fr_repeat(5,_max-content)] grid-cols-2 grid-flow-col" +
		" max-sm:grid-rows-[repeat(5,_max-content)_1fr] max-sm:grid-cols-[100%] max-sm:content-center max-sm:bg-center max-sm:pt-[8rem] max-sm:min-h-[720px]"}
>
	<div class="max-sm:hidden"></div>
	<p class="text-[4vw] font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed max-sm:text-3.5xl max-2xs:text-2xl">
		Σχολή Βυζαντινής &
	</p>
	<p
		class="ml-[0.75ch] text-[4vw] font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed max-sm:text-3.5xl max-2xs:text-2xl"
	>
		Παραδοσιακής Μουσικής
	</p>
	<p
		class="ml-[4vw] text-[2vw] font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed max-sm:text-lg max-sm:pl-4 max-2xs:text-base"
	>
		Ι.Ν. Μεταμορφώσεως του Σωτήρος
	</p>
	<p
		class="ml-[5vw] text-[1.5vw] font-anaktoria font-bold text-red-50 tracking-wider leading-relaxed max-sm:text-lg max-sm:pl-8 max-2xs:text-base"
	>
		Ομωνύμου Δήμου
	</p>
	<div
		id="fek"
		class="mt-[5vw] w-max p-[1.5vw] py-[1vw] grid auto-cols-max grid-flow-col gap-x-4 glass grid-rows-[max-content_max-content] rounded-lg"
	>
		<p class="text-[1.75vw] font-anaktoria font-bold text-red-50 self-center max-sm:text-base">
			<i class="fa-solid fa-chevron-right pr-4 text-[1.5vw] max-sm:text-xs self-center"></i>Ανεγνωρισμένη υπό του Κράτους
		</p>
		<div class="mt-[1vh] grid grid-cols-[max-content_max-content] gap-x-8 place-content-center">
			<a
				target="_blank"
				href="/fek-byzantini.pdf"
				class="px-3 max-sm:px-2 h-max self-end text-[1.2vw] max-sm:text-2xs font-didact font-bold text-red-50 outline-none max-sm:outline-1 outline-red-50 rounded-md max-sm:rounded-sm hover:bg-red-50 hover:text-red-900"
				style="grid-row: 2 / 3;">ΦΕΚ 1</a
			>
			<a
				target="_blank"
				href="/fek-paradosiaki.pdf"
				class="px-3 max-sm:px-2 self-start h-max text-[1.2vw] max-sm:text-2xs font-didact font-bold text-red-50 outline-none max-sm:outline-1 outline-red-50 rounded-md max-sm:rounded-sm hover:bg-red-50 hover:text-red-900"
				style="grid-row: 2 / 3;">ΦΕΚ 2</a
			>
		</div>
	</div>
	<div
		id="eggrafesLink"
		class={"glass place-self-center w-max h-max rounded-lg font-anaktoria row-span-full" +
			" shadow-lg shadow-stone-800 px-[2vw] py-[2vh] grid auto-cols-max place-items-center max-sm:!row-span-1"}
	>
		<p class="text-[2.75vw] h-min font-bold text-red-50 self-center max-sm:text-2xl capitalize">Εγγραφές</p>
		<p class="text-[2.25vw] h-min font-bold text-red-50 self-center max-sm:text-xl">Σχoλικού Έτους 2023-24</p>
		<p class="text-[2.25vw] h-min font-bold text-red-50 self-center max-sm:text-xl">1/9 έως 30/10</p>
		<div class="flex flex-col gap-y-[1.5vw] max-sm:flex-row max-sm:gap-x-4 mt-2">
			<a
				class="group/regbtn px-[2vw] py-[0.75vh] text-[2.25vw] max-sm:text-xl max-3xs:text-lg font-bold self-center shadow-md rounded-xl outline-none outline-red-50 bg-red-50 text-red-900"
				href="/eggrafes"
			>
				Εγγραφές <i
					class="w-0 fa-solid fa-chevron-right font-bold text-[1.25vw] self-center max-sm:text-xs max-sm:px-2 max-3xs:text-xs"
				></i>
			</a>
			<a
				class="group/regbtn px-[2vw] py-[0.75vh] text-[2.25vw] max-sm:text-xl max-3xs:text-lg font-bold self-center shadow-md rounded-xl outline-none outline-red-50 bg-red-50 text-red-900"
				href="/sxoli"
			>
				Ανακοίνωση <i
					class="w-0 fa-solid fa-chevron-right font-bold text-[1.25vw] self-center max-sm:text-xs max-sm:px-2 max-3xs:text-xs"
				></i>
			</a>
		</div>
	</div>
	<a
		id="xairetismos-btn"
		class="max-sm:hidden group/regbtn absolute bottom-0 left-[50%] translate-x-[-50%] flex flex-col px-[4vw] py-[0.25vh] mt-[1.5vw]"
		href="/#xairetismos-mitropolitou"
	>
		<p class="text-red-50 font-anaktoria text-2xl">Χαιρετισμός Σεβ. Μητροπολίτου</p>
		<i class="text-red-50 w-0 fa-solid fa-chevron-down font-bold text-[1vw] self-center max-sm:text-sm max-sm:px-2 max-3xs:text-xs"></i>
	</a>
	<style is:inline>
		#welcome-page {
			background: linear-gradient(to bottom left, rgba(12 10 9 / 0.5), rgba(12 10 9 / 0.9)), url("/church.jpg");
			background-size: cover;
		}
		#welcome-page > p {
			transform: translateY(25px);
			opacity: 0.0001;
		}
		#welcome-page p span {
			text-shadow: -1px 6px 6px rgba(12 10 9 / 0.6);
		}
		#welcome-page > p > span:hover + span {
			text-shadow: none;
			background: linear-gradient(to right, rgb(127 29 29 / 1) 10%, rgb(254, 202, 202));
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		#welcome-page > p > span:has(+ span:hover) {
			text-shadow: none;
			background: linear-gradient(to right, rgb(254, 202, 202), rgb(127 29 29 / 1) 90%);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		#fek:is(.glass) {
			opacity: 0.0001;
			animation: fadeIn 0.5s ease-in-out forwards 1s;
			text-shadow: -1px 3px 3px rgba(12 10 9 / 0.4);
		}

		#eggrafesLink:is(.glass) {
			opacity: 0.0001;
			animation: fadeIn 0.5s ease-in-out forwards 1.25s;
			text-shadow: -1px 3px 3px rgba(12 10 9 / 0.4);
		}
		#fek:hover i {
			animation: fadeInLeft 0.3s ease-in forwards;
		}
		#eggrafesLink a:hover > i {
			animation: fadeInLeft 0.3s ease-in-out forwards;
		}
		#xairetismos-btn {
			background: radial-gradient(ellipse at 50% 200%, rgb(69 10 10 / 1), transparent);
		}
	</style>
</div>
<script>
	import { onElementMount } from "../../../lib/utils.client";
	onElementMount("#welcome-page > p", () => {
		const heads = [...document.querySelectorAll("#welcome-page > p")] as HTMLElement[];
		heads.forEach((head, i) => {
			let txt = head.innerText;
			const txtArr = txt.split("");
			txtArr.forEach((char, j) => {
				if (char === " ") {
					txtArr[j] = "&nbsp;";
				}
				txtArr[j] = `<span class="hover:text-red-900" style="opacity:0.0001; animation: fadeIn 0.5s ease-in-out forwards ${
					(j + i * 10) * 12
				}ms">${txtArr[j]}</span>`;
			});
			txt = txtArr.join("");
			head.innerHTML = txt;
			head.style.opacity = "1";
			head.style.setProperty("animation", `fadeInParent 0.5s ease-in forwards ${i * 50}ms`);
		});
	});
	onElementMount("#xairetismos-btn", () => {
		const btn = document.querySelector("#xairetismos-btn") as HTMLElement;
		btn.addEventListener("click", e => {
			e.preventDefault();
			const xairetismos = document.querySelector("#xairetismos-mitropolitou") as HTMLElement;
			xairetismos.scrollIntoView({ behavior: "smooth", block: "center" });
			setTimeout(btn.remove, 1000);
		});
	});
</script>
