---
import { isDevFromURL } from "../../../lib/utils.client";

const imgSrc = isDevFromURL(Astro.url) ? await import.meta.env.S3_OPEN_BUCKET_URL : "/";
---

<section id="xairetismos-mitropolitou" class="flex flex-col items-center justify-center p-[4vw] max-sm:p-4 gap-y-6">
	<div class="font-bold">
		<h2 class="text-[3vw] max-sm:text-2xl text-center font-anaktoria text-red-900">
			Χαιρετισμὸς Σεβασμιωτάτου Μητροπολίτου<span class="sm:hidden"> Κηφισίας, Ἀμαρουσίου, Ὠρωποῦ καὶ Μαραθῶνος κ. Κυρίλλου</span>
		</h2>
		<h2 class="text-[3vw] max-sm:text-2xl text-center font-anaktoria text-red-900 max-sm:hidden">
			Κηφισίας, Ἀμαρουσίου, Ὠρωποῦ καὶ Μαραθῶνος κ. Κυρίλλου
		</h2>
	</div>
	<div class="flex flex-row max-sm:flex-col items-center max-sm:gap-y-4 bg-red-900 hover:bg-red-950">
		<img
			src={imgSrc + "mitropolitis.jpg"}
			alt="Φωτογραφία Σεβασμιωτάτου Μητροπολίτου"
			width="300px"
			class="w-[300px] max-sm:w-[200px] shadow-lg shadow-slate-800 max-sm:shadow-[rgb(210,210,210,0.4)]"
		/>
		<p class="text-2xl p-8 max-sm:text-lg text-red-50 max-sm:px-4 font-didact">
			Ἡ Ψαλτική, καί ὡς τέχνη καί ὡς ἐπιστήμη, ἀνήκει στήν λατρευτική ζωή τῆς Ἐκκλησίας μας καί λειτουργεῖ ὡς μέσο μυσταγωγικό καί
			ἀναγωγικό. Σημειώνουμε περί αὐτοῦ τούς λόγους τοῦ Ὁσίου Πορφυρίου τοῦ Καυσοκαλυβίτου: «Κανένας χριστιανός δέν πρέπει νά ὑπάρχει
			χωρίς νά ξέρει βυζαντινή μουσική. Πρέπει ὅλοι νά μάθομε. Ἔχει ἄμεση σχέση μέ τήν ψυχή. Ἡ μουσική ἁγιάζει τόν άνθρωπο ἀναίμακτα.
			Χωρίς κόπο, ἀγαλλόμενος, γίνεσαι ἅγιος». Ὁρμώμενοι ἐκ τῶν λόγων τοῦ ἁγίου, συνειδητοποιοῦμε πόσο σημαντικό καί θεάρεστο ἔργο
			ἐπιτελεῖ ἡ Σχολή Βυζαντινῆς καί Παραδοσιακῆς Μουσικῆς τοῦ Ἱεροῦ Ναοῦ Μεταμορφώσεως τοῦ Σωτῆρος τοῦ Δήμου Μεταμόρφωσης, τῆς καθ’
			ἡμᾶς Ἱεράς Μητροπόλεως, τό ὁποῖο ἐπευλογοῦμε καί στηρίζομε.
		</p>
	</div>
	<style is:inline>
		#xairetismos-mitropolitou h2 {
			text-shadow: -1px 2px 2px rgba(12 10 9 / 0.35);
		}
	</style>
</section>
<script>
	import { iOS, onElementMount } from "../../../lib/utils.client";
	if(iOS()) {
		onElementMount("#xairetismos-mitropolitou", () => {
			const headers = document.querySelectorAll<HTMLElement>("#xairetismos-mitropolitou h2");
			headers.forEach(header => {
				header.style.textShadow = "-1px 1px 2px rgba(12 10 9 / 0.25)";
			})
		})
	}
</script>
