---
import { useAPI, API } from "../../../lib/hooks/useAPI.astro";
import SigninLayout from "../../layouts/SigninLayout.astro";
const announcement_title = (Astro.url.pathname.split("/").pop() as string).replace(/-/g, " ");
let announcement: ({ id: number; title: string; date: number; content: string; views: number } & { images: string[] }) | undefined;
try {
	const res_announcement = await useAPI(API.Announcements.getByTitle, { UrlArgs: { title: announcement_title } });
	announcement = res_announcement.data;
	if (!announcement) return Astro.redirect("/404");
} catch (e) {
	return Astro.redirect("/404");
}
const imgSrc = "/anakoinoseis/images/" + announcement.id + "/";
---

<SigninLayout title={announcement.title} imageUrl={announcement.images[0]}>
	<section class="flex flex-col p-8 max-sm:p-2">
		<h1 class="text-3xl font-bold">{announcement.title}</h1>
		<div class="text-2xl mt-4">
			{announcement.content}
		</div>
		{
			announcement.images.length >= 1 && (
				<div class="flex flex-row flex-wrap mt-4">
					{announcement.images.map((image, i) => (
						<div class="w-1/2 p-2">
							<img data-src={imgSrc + image} alt={announcement?.title as string} class="w-full" />
						</div>
					))}
				</div>
			)
		}
	</section>
</SigninLayout>
