---
import MainPageLayout from "@layouts/MainPageLayout.astro";
import Landing from "@components/mainpage/Landing.astro";
import Lessons from "@components/mainpage/Lessons.astro";
import Welcoming from "@components/mainpage/Welcoming.astro";
export const prerender = true;
---

<MainPageLayout>
	<div id="landing-page" class="w-full h-full grid auto-rows-max grid-flow-row grid-cols-1">
		<Landing />
		<Welcoming />
		<Lessons />
	</div>
</MainPageLayout>
