---
const links = [
	{ name: "Η Σχολή", url: "/sxoli" },
	{ name: "Εγγραφές", url: "/eggrafes" },
	{ name: "Καθηγητές", url: "/kathigites" },
	{ name: "Παραρτήματα", url: "/parartimata" }
];
---

<nav class="fixed top-0 left-0 w-full h-[70px] grid grid-rows-[70px] grid-cols-[80px_1fr] bg-red-900 z-[10000]">
	<div class="grid justify-center content-center">
		<a href="/"> <img class="h-[60px] aspect-[0.99/1]" src="logo.webp" alt="Λογότυπο Σχολής" /></a>
	</div>
	<div class={`w-min grid auto-cols-auto grid-rows-[70px] grid-flow-col justify-self-end px-12 gap-x-4`}>
		{
			links.map(link => (
				<a
					class="group relative px-10 grid grid-rows-[minmax(min-content, 70px)] place-content-center hover:bg-red-950"
					href={link.url}
				>
					<div class="group px-2 font-bold font-anaktoria text-2.5xl text-red-50 whitespace-nowrap drop-shadow-[-3px_1px_2px_rgba(0,0,0,0.25)]">
						{link.name}
					</div>
					<div class="absolute left-0 right-0 bottom-0 h-[4px] group-hover:bg-red-200" />
				</a>
			))
		}
	</div>
</nav>
