---
import Layout from "../../layouts/Layout.astro";
import Administration from "../../components/sxoli/Administration.astro";
import Choir from "../../components/sxoli/Choir.astro";
import Announcements from "../../components/sxoli/Announcements.astro";
export const prerender = true;
const posterSrc = "/";
---

<Layout title="Η Σχολή μας">
	<main
		id="sxoli"
		class="w-full h-max flex flex-col font-didact overflow-hidden px-12 py-6 max-sm:px-4">
		<Administration />
		<section
			id="anakoinosi-2023-24"
			class="w-full flex flex-col font-didact items-center justify-center mt-8 p-8 max-sm:p-4 gap-y-4">
			<h1
				id="announcementHead"
				class="heading relative p-2 text-center w-[11ch] flex-grow-2 place-self-center text-[3.5vw] max-sm:text-4xl leading-[3.5vw] font-bold drop-shadow-[-1px_2px_1px_rgba(0,0,0,0.25)] font-anaktoria text-red-900 col-span-full overflow-hidden after:left-[calc(50%_-_5ch)] after:w-[10ch] after:bg-red-900 after:max-sm:rounded-sm after:max-sm:h-[2px]">
				Ανακοινώσεις
			</h1>
			<div
				class="w-full flex flex-col font-didact items-center justify-center text-center p-8 max-sm:p-4 gap-y-4 text-2xl">
				<p>Η σελίδα για τις ανακοινώσεις της Σχολής μας είναι υπό κατασκευή!</p>
				<p>
					Για τις Ανακοινώσεις και το φωτογραφικό υλικό επισκεφτείτε τη παλαιά <a
						class="text-blue-500 underline decoration-blue-500"
						target="_blank"
						href="https://inmm.gr/index.php/vyzantini-mousiki/ekdiloseis"
						>σελίδα της Σχολής μας</a
					>
				</p>
			</div>
			<img
				src={posterSrc + "Σεμινάριο-Αύγουστος-2024.jpg"}
				width="900px"
				class="w-[900px] max-sm:w-[clamp(240px,100%,360px)] shadow-xl max-sm:shadow-md shadow-slate-800 max-sm:shadow-slate-800"
			/>
			<!-- <img
				src={posterSrc + "Εκδήλωση-Χριστουγέννων-9-12-23.jpg"}
				width="900px"
				class="w-[900px] max-sm:w-[clamp(240px,100%,360px)] shadow-xl max-sm:shadow-md shadow-slate-800 max-sm:shadow-slate-800"
			/>
			<img
				src={posterSrc + "κατατακτήριες_εξετάσεις_2023.jpg"}
				width="900px"
				class="w-[900px] max-sm:w-[clamp(240px,100%,360px)] shadow-xl max-sm:shadow-md shadow-slate-800 max-sm:shadow-slate-800"
			/>
			<img
				src={posterSrc + "poster.jpg"}
				width="900px"
				class="w-[900px] max-sm:w-[clamp(240px,100%,360px)] shadow-xl max-sm:shadow-md shadow-slate-800 max-sm:shadow-slate-800"
			/> -->
		</section>
		<Announcements />
		<Choir />
	</main>
</Layout>
<script>
	import { onElementMount } from "../../../lib/utils.client";

	onElementMount("#anakoinosi-2023-24", () => {
		const obsv = new IntersectionObserver(
			entries => {
				const entry = entries[0];
				const head = document.querySelector("#announcementHead") as HTMLElement;
				if (!head) return;
				if (entry.intersectionRatio >= 0.3) head.classList.add("emphasis");
				else if (
					window.matchMedia("(max-width: 640px)").matches &&
					entry.intersectionRatio >= 0.2
				)
					head.classList.add("emphasis");
				else head.classList.remove("emphasis");
			},
			{
				root: null,
				rootMargin: "0px",
				threshold: [0.2, 0.3, 0.4, 0.5]
			}
		);
		obsv.observe(document.querySelector("#announcementHead") as HTMLElement);
	});

	if (window.location.hash === "#anakoinosi") {
		onElementMount("#sxoli", () => {
			setTimeout(() => {
				const announcement = document.querySelector(
					"#anakoinosi-2023-24 > h1"
				) as HTMLDivElement;
				announcement.scrollIntoView({ behavior: "smooth", block: "center" });
			}, 200);
		});
	}
</script>
