---
import { isDevFromURL } from "../../../lib/utils.client";
import Layout from "../../layouts/Layout.astro";
import Administration from "../../components/sxoli/Administration.astro";
import Choir from "../../components/sxoli/Choir.astro";
const posterSrc = isDevFromURL(Astro.request.url) ? await import.meta.env.S3_OPEN_BUCKET_URL : "/";
---
<Layout title="Η Σχολή μας">
	<main id="sxoli" class="w-full h-max flex flex-col font-didact overflow-hidden px-12 py-6 max-sm:px-4">
		<Administration/>
		<section
			id="anakoinosi-2023-24"
			class="w-full flex flex-col font-didact items-center justify-center mt-8 p-8 max-sm:p-4 gap-y-4"
		>
			<h1
				id="announcementHead"
				class="heading relative p-2 text-center w-[9ch] flex-grow-2 place-self-center text-[3.5vw] max-sm:text-4xl leading-[3.5vw] font-bold drop-shadow-[-1px_2px_1px_rgba(0,0,0,0.25)] font-anaktoria text-red-900 col-span-full overflow-hidden after:left-[calc(50%_-_4ch)] after:w-[8ch] after:bg-red-900 after:max-sm:rounded-sm after:max-sm:h-[2px]"
			>
				Ανακοίνωση
			</h1>
			<img
				src={posterSrc + "poster.jpg"}
				width="900px"
				class="w-[900px] max-sm:w-[clamp(240px,100%,360px)] shadow-xl max-sm:shadow-md shadow-slate-800 max-sm:shadow-slate-800"
			/>
		</section>
		<Choir/>
	</main>
</Layout>
<script>
	import { onElementMount } from "../../../lib/utils.client";

	onElementMount("#anakoinosi-2023-24", () => {
		const obsv = new IntersectionObserver(
			entries => {
				const entry = entries[0];
				// @ts-ignore
				const head = document.querySelector("#announcementHead") as HTMLElement;
				if (!head) return;
				if (entry.intersectionRatio >= 0.3) head.classList.add("emphasis");
				else if (window.matchMedia("(max-width: 640px)").matches && entry.intersectionRatio >= 0.2) head.classList.add("emphasis");
				else head.classList.remove("emphasis");
			},
			{
				root: null,
				rootMargin: "0px",
				threshold: [0.2, 0.3, 0.4, 0.5]
			}
		);
		// @ts-ignore
		obsv.observe(document.querySelector("#anakoinosi-2023-24") as HTMLElement);
	});

	if (window.location.hash === "#anakoinosi") {
		onElementMount("#sxoli", () => {
			setTimeout(() => {
				const announcement = document.querySelector("#anakoinosi-2023-24 > h1") as HTMLDivElement;
				announcement.scrollIntoView({ behavior: "smooth", block: "center" });
			}, 200);
		});
	}
</script>
