---
import Layout from "../../layouts/Layout.astro";
import Choir from "../../components/sxoli/Choir.astro";
export const prerender = true;
---

<Layout title="Η Σχολή μας">
	<main
		class="w-full h-max flex flex-col font-didact overflow-hidden px-12 max-sm:px-4">
		<Choir />
	</main>
</Layout>
