---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/cd86c02df9.js" crossorigin="anonymous"></script>
		<!-- <link href="/fa/\/css/brands.css" rel="stylesheet" /> -->
		<!-- <link href="/fa/css/solid.css" rel="stylesheet" />
		<link href="/fa/css/regular.css" rel="stylesheet" /> -->
	</head>
	<body class="box-border p-0 grid">
		<a id="redirect" href="/login" style="width: 0px; height: 0px; position: absolute;" class="hidden"></a>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic");

	@font-face {
		font-weight: bold;
		font-family: "Thomadaki";
		src: url("/fonts/3-2-2003_THOMADAKIANNA2003.TTF");
	}

	@font-face {
		font-family: "Anaktoria";
		src: url("/fonts/ANAKTORIA.OTF");
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	body {
		grid-template-columns: 200px 1fr;
		grid-template-rows: 100%;
		height: 100vh;
		background: white;
	}
	label,
	button {
		text-shadow: -1px 1px 2px rgba(0 0 0/0.15);
	}
	p,
	a,
	button {
		color: #393939;
	}
	select {
		/* firefox fix from gray -> white */
		background-color: white;
	}
	input[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
	input[type="date"]::-webkit-inner-spin-button,
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		display: none;
		-webkit-appearance: none;
	}
</style>
<script>
	import { API, useAPI } from "../../lib/hooks/useAPI.astro";
	const res = await useAPI(API.Authentication.authenticateSession, {});
	if (!("data" in res && res.data.isValid)) (document.getElementById("redirect") as HTMLElement).click();
</script>
