---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Links from "../components/headers/Links.astro";
import Contact from "../components/contact/Contact.astro";
import ContactPhone from "../components/contact/ContactPhone.astro";
export interface Props {
	title: string;
	imageUrl?: string;
}

const { title, imageUrl } = Astro.props;

const logoUrl = new URL(Astro.request.url).origin + (imageUrl || "/logo.png");
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#7f1d1d" />
		<SEO
			charset="utf-8"
			title="Σχολή Βυζαντινής & Παραδοσιακής Μουσικής"
			description="Σχολή Βυζαντινής & Παραδοσιακής Μουσικής Ι.Ν. Μεταμορφώσεως Του Σωτήρος, Δήμου Μεταμορφώσεως"
			openGraph={{
				basic: {
					title,
					url: Astro.url,
					image: logoUrl,
					type: "website",
				},
				image: {
					url: logoUrl,
				},
				optional: {
					locale: "el_GR",
				},
			}}
			extend={{
				link: [
					{ rel: "icon", href: "/logo_small.png" },
					{ rel: "sitemap", href: "/sitemap-index.xml" },
					{ rel: "robots", href: "/sitemap-index.xml" },
				],
				meta: [
					{
						name: "facebook:image",
						content: logoUrl,
					},
					{
						name: "messenger:image",
						content: logoUrl,
					},
					{
						name: "viber:image",
						content: logoUrl,
					},
				],
			}}
		/>
		<Links />
		<style is:inline>
			html {
				font-family: system-ui, sans-serif;
				height: 100dvh;
			}
			* {
				scroll-behavior: smooth;
				scroll-padding: var(--scroll-pad);
			}
			p,
			a,
			button,
			h1,
			h2,
			h3,
			li {
				color: #282828;
			}
			select {
				background-color: white !important;
			}
			input[type="number"] {
				-moz-appearance: textfield;
				appearance: textfield;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				display: none;
			}
			select:is(#mobileLocationSelect) {
				/* for Firefox */
				-moz-appearance: none;
				/* for Chrome */
				-webkit-appearance: none;
			}
			.heading::after {
				content: "";
				position: absolute;
				bottom: 0;
				height: 4px;
				transform: translateX(-120%);
				transition: transform 0.5s ease-in-out;
				border-radius: 3px;
			}
			.heading:is(.emphasis)::after {
				transform: translateX(0px);
			}
			.glass {
				--tw-bg-opacity: 0.45;
				background: rgb(127 29 29 / var(--tw-bg-opacity));
				backdrop-filter: blur(4px);
				border: 1px solid rgb(153 27 27 / 0.3);
			}
			@keyframes fadeIn {
				0% {
					opacity: 0.0001;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0.0001;
				}
			}
			@keyframes fadeInParent {
				0% {
					transform: translateY(25px);
				}
				100% {
					transform: translateY(0px);
				}
			}
			@keyframes fadeInLeft {
				0% {
					opacity: 0.0001;
					transform: translateX(-2rem);
				}
				80% {
					opacity: 1;
				}
				100% {
					opacity: 1;
					transform: translateX(0px);
				}
			}
		</style>
		<style is:inline>
			.spinner {
				background:
					radial-gradient(farthest-side, rgb(127, 29, 29) 94%, #0000) top/8px 8px
						no-repeat,
					conic-gradient(#0000 30%, rgb(127, 29, 29));
				-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
				animation: spin 1s infinite linear;
			}
			@keyframes spin {
				100% {
					transform: rotate(1turn);
				}
			}
		</style>
	</head>
	<body class="box-border relative h-[100dvh] p-0 grid bg-white grid-rows-1 max-sm:overflow-auto">
		<Navbar />
		<div
			class="relative w-full h-[100dvh] supports-[height:1svh]:h-[100svh] grid grid-rows-[100%] pt-[4vw] max-sm:pt-[6rem] max-3xs:pt-[5rem]">
			<slot />
		</div>
		<Contact />
		<ContactPhone />
	</body>
</html>
