---
import Navbar from "../components/Navbar.astro";
import Links from "../components/headers/Links.astro";
import Contact from "../components/contact/Contact.astro";
import ContactPhone from "../components/contact/ContactPhone.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<Links title="Σχολή Βυζαντινής & Παραδοσιακής Μουσικής"/>
		<style is:inline>
			html {
				font-family:
					"Gothic Didact" system-ui,
					sans-serif;
				height: 100dvh;
			}
			p,
			a,
			button,
			h1,
			h2,
			h3,
			li {
				color: #282828;
			}
			select {
				background-color: white;
			}
			input[type="number"] {
				-moz-appearance: textfield;
				appearance: textfield;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				display: none;
			}
			.glass {
				--tw-bg-opacity: 0.45;
				background: rgb(127 29 29 / var(--tw-bg-opacity));
				backdrop-filter: blur(4px);
				border: 1px solid rgb(153 27 27 / 0.3);
			}
			.heading::after {
				content: "";
				position: absolute;
				bottom: 0;
				height: 4px;
				transform: translateX(-120%);
				transition: transform 0.5s ease-in-out;
				border-radius: 3px;
			}
			.heading:is(.emphasis)::after {
				transform: translateX(0px);
			}
			@keyframes fadeIn {
				0% {
					opacity: 0.0001;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeInParent {
				0% {
					transform: translateY(25px);
				}
				100% {
					transform: translateY(0px);
				}
			}
			@keyframes fadeInLeft {
				0% {
					opacity: 0.0001;
					transform: translateX(-2rem);
				}
				100% {
					opacity: 1;
					transform: translateX(0px);
				}
			}
		</style>
	</head>
	<body
		class="box-border h-[100dvh] p-0 grid bg-white grid-rows-1 max-sm:grid-rows-[calc(100dvh_-_40px)_40px] max-sm:overflow-y-auto">
		<Navbar />
		<div class="relative w-full h-full sm:overflow-auto grid grid-rows-[100%]">
			<slot />
		</div>
		<Contact />
		<ContactPhone />
	</body>
</html>
