---
import { SEO } from "astro-seo";
export interface Props {
	title: string;
}

const { title } = Astro.props;
const logoUrl = "https://byzantini-website.pages.dev/logo.jpg";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			charset="utf-8"
			title="Σχολή Βυζαντινής & Παραδοσιακής Μουσικής Ι.Ν. Μεταμορφώσεως"
			description="Σχολή Βυζαντινής & Παραδοσιακής & Ευρωπαικής Μουσικής Ι.Ν. Μεταμορφώσεως Του Σωτήρος, Δήμου Μεταμορφώσεως"
			openGraph={{
				basic: {
					title,
					url: Astro.url,
					image: logoUrl,
					type: "website"
				},
				image: {
					url: logoUrl
				},
				optional: {
					locale: "el_GR"
				}
			}}
		/>
		<link href="/fa/css/fontawesome.min.css" rel="stylesheet" />
		<link href="/fa/css/solid.min.css" rel="stylesheet" />
		<link href="/fa/css/regular.min.css" rel="stylesheet" />
	</head>
	<body class="box-border h-[100dvh] p-0 grid bg-white grid-rows-[100%] overflow-hidden">
		<slot />
		<style is:global>
			@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

			html {
				font-family: system-ui, sans-serif;
				height: 100vh;
			}
			p,
			a,
			button,
			h1,
			h2,
			h3 {
				color: #282828;
			}
		</style>
	</body>
</html>
