---
import { getSessionId } from "../../../lib/utilities/authentication";
import SigninLayout from "../../layouts/SigninLayout.astro";
export const prerender = false;

const sid = getSessionId(Astro);
if (!sid) return Astro.redirect("/admin");
---

<SigninLayout title="Αποσύνδεση">
	<h1>Αποσύνδεση...</h1>
	<script>
		import { useAPI } from "../../../lib/hooks/useAPI.astro";
		import { getCookie, setCookie } from "../../../lib/utilities/cookies";
		const sid = getCookie("session_id");
		try {
			await useAPI("Authentication.userLogout", { RequestObject: { sid } });
			setCookie("session_id", "", -1);
			document.location.pathname = "/login";
		} catch (e) {
			document.location.pathname = "/admin";
		}
	</script>
</SigninLayout>
