---
import Input from "@components/input/Input.astro";
import { API, useAPI } from "@hooks/useAPI.astro";
import SigninLayout from "@layouts/SigninLayout.astro";

const { link } = Astro.params;
if (!link) {
	return Astro.redirect("/");
}
const res = await useAPI(API.SysUsers.validateRegisterLink, { UrlArgs: { link } });

if (res.data && !res.data.isValid) {
	return Astro.redirect("/");
}
---

<SigninLayout title="Διαχείρηση">
	<div
		class="p-12 h-max place-self-center bg-white grid grid-rows-[100px_min-content_1fr] shadow-lg shadow-gray-700 rounded-md gap-y-12">
		<div class="grid justify-center content-center">
			<a href="/" class="relative">
				<img class="h-[100px] brightness-150" src="/logo.png" alt="Λογότυπο Σχολής" />
				<img
					class="h-[100px] absolute brightness-150 blur-[1px] opacity-40 top-[1px] left-[-2px]"
					src="/logo.png"
					alt="Λογότυπο Σχολής"
				/>
			</a>
		</div>
		<h2 class="text-3xl font-didact text-center">Εγγραφή Διαχειρηστή</h2>
		<form id="signupForm" action="" method="post" class="group grid grid-rows-3 gap-y-8">
			<Input
				type="email"
				name="email"
				label="Email"
				iconClasses="fa-solid fa-envelope"
				required
			/>
			<Input
				type="password"
				name="password"
				label="Κωδικός"
				iconClasses="fa-solid fa-lock"
				required
			/>
			<button
				class="text-2xl shadow-lg shadow-gray-400 rounded-lg transition-colors duration-300 bg-green-300 hover:bg-green-400 focus:bg-green-400 group-[:is(.animate-shake)]:bg-red-500"
				type="submit">Εγγραφή</button
			>
		</form>
	</div>
	<style is:inline>
		@keyframes ShakeAnimation {
			0% {
				transform: translateX(0);
				filter: blur(0px);
			}
			10%,
			30%,
			70%,
			90% {
				transform: translateX(1px);
			}
			20%,
			40%,
			60%,
			80% {
				transform: translateX(-1px);
			}
			50% {
				transform: translateX(1px);
				filter: blur(1px);
			}
			100% {
				transform: translateX(0px);
				filter: blur(0px);
			}
		}

		.animate-shake button {
			animation: ShakeAnimation 0.6s ease-in-out;
		}
	</style>
</SigninLayout>
<script>
	import { API, useAPI } from "@hooks/useAPI.astro";
	function setCookie(name: string, value: string, exdays: number) {
		const d = new Date();
		d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
		let expires = "expires=" + d.toUTCString();
		document.cookie = name + "=" + value + ";" + expires + ";path=/";
	}

	let tid: number | null = null;
	document.getElementById("signupForm")?.addEventListener("submit", async (e) => {
		e.preventDefault();
		const form = e.currentTarget as HTMLFormElement;
		const formData = new FormData(e.currentTarget as HTMLFormElement);
		const data = {
			email: formData.get("email") as string,
			password: formData.get("password") as string,
		};
		const link = window.location.href.split("/").pop() as string;
		const res = await useAPI(API.SysUsers.registerSysUser, {
			RequestObject: data,
			UrlArgs: { link },
		});

		if (res.data) {
			const { session_id } = res.data;
			setCookie("session_id", session_id || "", 14);
			window.location.href = "/admin";
		} else {
			if (tid) {
				clearTimeout(tid);
				form.classList.remove("animate-shake");
				void form.offsetWidth;
			}
			form.classList.add("animate-shake");
			tid = setTimeout(() => {
				form.classList.remove("animate-shake");
			}, 1000) as unknown as number;
		}
	});
</script>
